@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
  }

  .empty-cart {
    text-align: center;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 400px;
  }

  .cart-icon i {
    font-size: 100px;
    color: #ffcc00;
  }

  h2 {
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #333;
  }

  p {
    font-size: 16px;
    color: #555;
  }

  .go-to-menu {
    display: inline-block;
    margin-top: 20px;
    font-size: 16px;
    color: #007bff;
    text-decoration: none;
  }

  .go-to-menu:hover {
    text-decoration: underline;
  }
